.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/*/cjs
packages/*/esm
packages/*/dist
packages/*/out-test

*.tsbuildinfo
*.log
.env

node_modules

._*
.DS_Store

.idea
.vscode

